<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Service Provider</title>
    <link href="../assets/css/estilos.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="contenedor" class="container">
    <div id="borde" class="borde">
        <div id="principal" class="contenido">
            <h1 class="colorAzul" id="TituloBody">PROVEEDOR DE SERVICIOS DE EJEMPLO<br></h1>
            <h2>{{ errorTitle }}</h2>
            <p>{{ errorMessage }}</p>
            <p>Por favor, haga clic <a href="/">aquí</a> para ir a la página principal.</p>
        </div>
    </div>
</div>
</body>
</html>
